
body {

    background-color: whitesmoke;
}

.container {
    height: 70vh;
    display: flex;
    font-family: arial;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}
.box {
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 70px;
    padding-right: 70px;
    background-color: white;
    border-radius: 0.1cm;
    box-shadow: 5px 10px 18px #888888;
}
h1 {
    font-weight: bold;
    color: rgb(54, 52, 52);
}
.text-container {
    width: 70%;
}
.text-field{
    height: 40px;
}

.error-color{
    color: red;
}