nav{
    display: flex;
    background-color: rgb(61, 61, 124); 
    font-size: large;  
    box-shadow: 0 0 20px 0 black; 
  }
.header{
    color: white;
    padding: 15px 30px;
    font-weight: bold;
    float: left;
    display: block;
    margin: 10px;
    text-decoration: none;
    transition: 0.3s;
  }
.header:hover{
    background-color: rgb(238, 176, 5);
    color: black;
    border-radius: 10px;
  }
span{
    color: wheat;
  }

.logo{
    padding: 15px 30px;
    float: left;
    text-decoration: none;
    font-size: 30px;
    color: rgb(238, 176, 5);
    font-family: Georgia, 'Times New Roman', Times, serif; 
    display: inline;
    font-weight: bolder; 
    margin-top: 3px ;}




