footer {
    position: fixed;
    background-color: rgb(61, 61, 124); 
    bottom: 0;
    left: 0;
    right: 0;
    padding: 4px;
    text-align: center;
    /* font-weight: bold; */
    height: 25px;

  }
  .text {
    color: aliceblue;
  }