
.table-data{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}
.table-head{
    font-weight:bold;
}
.table-heading{
    font-weight: bolder;
}